<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <select class="form-control" id="choice" (change) = "onSelectChanged($event)">
      <option *ngFor="let choice of choices" [value]="choice">{{choice}}</option>
    </select>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <input type="text" [value]="searchText" [formControl]="searchControl" class="search-query form-control" placeholder="Search" />
  </div>
</div>
<br>
<div class="row">
  <div class="well" style="max-height: 500px; overflow: auto;">
   <div class="just-padding">
    <div class="list-group list-group-root well">
      <app-list-item class="list-group" [data]="data_array" [key]="subItems" [searchText]="searchText"></app-list-item>
    </div>
  </div>
</div>
</div>
<div>
  <label>Currently selected {{selectCount}} items</label>
</div>
